rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if true;
    }
    match /delete_auth_users/{docId} {
      allow read, write: if true;
    }
    match /maps/{docId} {
      allow read, write: if true;
    }
  }
}